@import url(./_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;0,800;1,200;1,300;1,800&family=Wire+One&display=swap');

:root {
	--color-claro: #F3EFE0;
	--color-gris-oscuro: #434242;
	--color-negro: #252525;
	--color-verde-principal: #22A39F;
	--font-monserrat: 'Montserrat', sans-serif;
	--font-wire-one: 'Wire One', sans-serif;
}

body {
	background-color: var(--color-negro);
}

img {
	height: 100%;
	width: 100%;
}

.parte-1 {
	width: auto;
	height: fit-content;
	padding: 10%;
}

.parte-1 h3 {
	font-family: var(--font-monserrat);
	font-weight: 700;
	color: var(--color-verde-principal);
	font-size: 4em;
	margin: 1em;
}

.parte-1 p {
	font-family: var(--font-wire-one);
	color: var(--color-claro);
	letter-spacing: 0.1em;
	font-size: 5em;
	margin: 1em;
}

.icon-ig {
	position: absolute;
	height: auto;
	width: 4%;
	left: 10%;
}

.icon-ig img {
	filter: hue-rotate(153deg);
	animation: translate-loop 0.5s infinite alternate;
}

@keyframes translate-loop {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}

.parte-2 {
	height: 100vh;
	width: auto;
}

.parte-2 video {
	width: 100%;
	height: 100%;
}

.parte-3 {
	display: flex;
	justify-content: end;
	align-items: end;
	width: auto;
	min-height: 100vh;
	height: fit-content;
	background-image: url(../assets/img/foto_alta_ambos.jpg);
	background-position: center 25%;
	background-size: cover;
	background-attachment: fixed;
}

.parte-3 h3 {
	padding:5%;
	width: 60%;
	text-align: right;
	font-family: var(--font-monserrat);
	font-size: 5em;
	font-weight: 700;
	color: var(--color-verde-principal);
	text-shadow: 1px 1px 3px var(--color-negro);

}

.parte-4 {
	display: flex;
	flex-flow: row nowrap;
	width: auto;
	height: fit-content;
    min-height: 50vh;
	padding: 5% 10% 2%;
	align-items: center;
	justify-content: space-between;
}

.parte-4 h3 {
	font-family: var(--font-monserrat);
	font-size: 6em;
	font-weight: 600;
	color: var(--color-verde-principal);
	text-align: left;
}

.parte-4 p {
	font-family: var(--font-wire-one);
	font-size: 4em;
	color: var(--color-claro);
	letter-spacing: 0.13em;
}

.parte-5 {
    display: flex;
    flex-flow: column;
    width: auto;
    height: 50vh;
    padding: 2%;
    align-items: center;
}

.parte-5 h3 {
	font-family: var(--font-monserrat);
	font-size: 5em;
	color: var(--color-claro);
	text-align: left;
}

.parte-5 a {
	height: 80%;
	width: auto;
}

@media (max-width: 1200px) {
	.parte-1 {
		padding: 5%;
	}
	
	.parte-1 h3 {
		margin: 0.5em;
	}
	
	.parte-1 p {
		margin: 0.5em;
	}

	
	.parte-3 h3 {
		font-size: 4em;
	}
	
	.parte-4 h3 {
		font-size: 5em;
	}
	
	.parte-4 p {
		font-size: 3em;
	}
	
	.parte-5 h3 {
		font-size: 3em;
	}
	
	.parte-5 a {
		font-size: 4em;
	}
}

@media (max-width: 720px) {

	video {
		width: 100%;
  		height: auto;
  		object-fit: cover;
	}
	
	.parte-3 {
		background-attachment: scroll;
	}

	.parte-3 h3 {
		font-size: 3em;
	}
	
	.parte-4 {
		flex-flow: column;
	}
	
	.parte-4 p {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.parte-5 h3 {
		font-size: 2em;
	}

	.parte-5 a {
		height: auto;
		width: 70%;
	}
}

@media (max-width: 480px) {
	
	.parte-1 h3 {
		font-size: 3em;
	}
	
	.parte-1 p {
		font-size: 3em;
	}

	.parte-3 h3 {
		font-size: 3em;
		width: 100%;
	}
	
	.parte-4 h3 {
		font-size: 4em;
		width: auto;
	}
	
	.parte-4 p {
		font-size: 2em;
	}
	
}


