@import url(./_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;0,800;1,200;1,300;1,800&family=Wire+One&display=swap');

:root {
	--color-claro: #F3EFE0;
	--color-gris-oscuro: #434242;
	--color-negro: #252525;
	--color-verde-principal: #22A39F;
	--font-monserrat: 'Montserrat', sans-serif;
	--font-wire-one: 'Wire One', sans-serif;
}

header{
	width: 100%;
	height: fit-content;
}

.header {
	width: 100%;
	height: auto;
	border: 3px solid violet;
}

.btn {
	border: 3px solid red;
	display: block;
}

/* header y menu */

.menu-bar {
	position: fixed;
	width: 100%;
	border: 5px solid green;
	z-index: 2;
}

.menu--activo {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 3;
	border: 2px solid yellow;
}

.menu--fondo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 12em;
	border: 3px solid yellow;
}

/* BANNER PRINCIPAL */

.banner-principal {
	border: 3px solid greenyellow;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    padding-bottom: 3rem;
}

.banner-principal video {
	border: 3px solid blueviolet;
    width: 65%;
    max-width: 50rem;
    height: auto;
    margin: 5rem auto;
    aspect-ratio: 16/9;
}

.btn__banner {
	margin: auto;
}

.container__iconos {
	width: auto;
	height: auto;
	padding: 0.19em 0;
}

.container__rrss {
	position: absolute;
	bottom: 3em;
	left: 3em;
	border: 4px solid blue;
}


.container__contacto {
	position: fixed;
	bottom: 3em;
	right: 3em;
	border: 3px solid red;
	z-index: 2;
}

.container__iconos a {
	border: 2px solid green;
	width: 3em;
	height: 3em;
	margin: 0.07em 0;
}

/* NOSOTROS */

.equipo {
	min-height: 70vh;
    max-height: fit-content;
	width: 100%;
	padding-block: 5rem;
	border: 3px solid yellow;
}

.equipo video {
	border: 3px solid blueviolet;
    width: 40rem;
    min-width: 20rem;
    height: auto;
	aspect-ratio: 16/9;
	margin-left: 45%;
	margin-top: -25rem;
}

.frase--1 {
	font-size: 5rem;
	text-align: right;
    width: 40%;
    margin: 5rem -1rem 0 3rem;
}

.frase--2 {
	font-size: 5.5rem;
	margin: 2rem auto;
    width: fit-content;
}

.container__titulo {
	border: 3px solid orangered;
	margin: 0 auto 2rem;
	width: fit-content;
	padding: 0.2em;
}

.icono {
	border: 2px solid green;
	width: 3em;
	height: 3em;
}

.titulo {
	font-size: 2em;
	padding: 0.1em;
}

.container__equipo {
	padding-inline: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.equipo__contenido {
	border: 3px solid yellowgreen;
	width: auto;
	max-width: 34rem;
	height: 30rem;
	margin: 0 2em;
}

.equipo__contenido h3 {
	position: inherit;
    margin: 1rem;
    width: inherit;
    text-align: right;
	font-size: 1.4rem;
}

.equipo__contenido img {
	border: 3px solid blue;
    width: 70%;
    z-index: -1;
    position: relative;
    margin: -5rem 0.5rem 0;
    height: 97%;
}

.equipo__contenido button {
	margin: -3rem auto;
    width: 15rem;
}

/* FOOTER */
footer {
	position: absolute;
	z-index: 5;
	width: 100%;
}

.container-mountains {
	height: 30rem;
	width: auto;
	border: 4px solid crimson;
}

.mountains {
	height: 15rem;
}

.mountains--up {
	border: 3px solid green;
}

.mountains--downs {
	border: 3px solid lightcoral;
}

.btn--portafolio {
	margin: auto;
}

.container-footer {
	padding: 2rem;
}

.footer__logo {
	margin: auto;
}

.lista__rrss p,
.lista__rrss img {
	display: inline-block;
}
/* CONTACTO */

.container-contacto__form {
	display: block;
	position: fixed;
	top: 0;
	z-index: 7;
	background-color: white;
	width: 100vw;
	height: 100vh;
	padding: 3rem;
}

.form-contact {
	margin: 2rem auto;
	min-width: 40rem;
	max-width: 40%;
}

.form-datos {
	position: absolute;
	bottom: 0;
	left: 0;
}